{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ if eq .CurrentSection .FirstSection }}{{ .Section | humanize }}{{ else }}{{ .Title }}{{ end }}</h1>
      <div class="text-center">{{ .Content }}</div>
			<div class="card-list">
				{{ $currentSection := .CurrentSection }}
        <div class="card my-3">
          <div class="card-body">
            <a class="stretched-link" href="/bitcoin/bips/bip-0001">Bitcoin Improvement Proposals, BIPs &rarr;</a>
          </div>
        </div>
			</div>
    </article>
  </div>
</div>
{{ end }}