{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ if eq .CurrentSection .FirstSection }}{{ .Section | humanize }}{{ else }}{{ .Title }}{{ end }}</h1>
      <div class="text-center">{{ .Content }}</div>
			<div class="card-list">
				{{ $currentSection := .CurrentSection }}
        <div class="card my-3">
					<div class="card-body">
						<a class="stretched-link" href="/satoshi/cryptografy-mailing-list">Email &rarr;</a>
					</div>
				</div>
				<div class="card my-3">
					<div class="card-body">
						<a class="stretched-link" href="/satoshi/p2p-foundation">Bitcointalk Post &rarr;</a>
					</div>
				</div>
				<div class="card my-3">
					<div class="card-body">
						<a class="stretched-link" href="/satoshi/bitcoin-list">P2P Foundation &rarr;</a>
					</div>
				</div>
        <div class="card my-3">
					<div class="card-body">
						<a class="stretched-link" href="/satoshi/bitcointalk">P2P Foundation &rarr;</a>
					</div>
				</div>
			</div>
    </article>
  </div>
</div>
{{ end }}